/* Retina (lightest) */
@font-face {
    font-family: 'main-font';
    src: url('./font/font-Retina.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'main-font';
    src: url('./font/font-Retina-Oblique.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'main-font';
    src: url('./font/font-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'main-font';
    src: url('./font/font-Oblique.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'main-font';
    src: url('./font/font-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'main-font';
    src: url('./font/font-Medium-Oblique.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'main-font';
    src: url('./font/font-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'main-font';
    src: url('./font/font-Bold-Oblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: 'main-font';
    src: url('./font/font-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'main-font';
    src: url('./font/font-ExtraBold-Oblique.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

/* Retina SemiCondensed */
@font-face {
    font-family: 'main-font-semi';
    src: url('./font/font-Retina-SemiCondensed.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'main-font-semi';
    src: url('./font/font-Retina-SemiCondensed-Oblique.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Regular SemiCondensed */
@font-face {
    font-family: 'main-font-semi';
    src: url('./font/font-SemiCondensed.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'main-font-semi';
    src: url('./font/font-SemiCondensed-Oblique.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Medium SemiCondensed */
@font-face {
    font-family: 'main-font-semi';
    src: url('./font/font-Medium-SemiCondensed.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'main-font-semi';
    src: url('./font/font-Medium-SemiCondensed-Oblique.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* Bold SemiCondensed */
@font-face {
    font-family: 'main-font-semi';
    src: url('./font/font-Bold-SemiCondensed.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'main-font-semi';
    src: url('./font/font-Bold-SemiCondensed-Oblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold SemiCondensed */
@font-face {
    font-family: 'main-font-semi';
    src: url('./font/font-ExtraBold-SemiCondensed.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'main-font-semi';
    src: url('./font/font-ExtraBold-SemiCondensed-Oblique.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

/* Retina Condensed */
@font-face {
    font-family: 'main-font-condensed';
    src: url('./font/font-Retina-Condensed.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'main-font-condensed';
    src: url('./font/font-Retina-Condensed-Oblique.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Regular Condensed */
@font-face {
    font-family: 'main-font-condensed';
    src: url('./font/font-Condensed.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'main-font-condensed';
    src: url('./font/font-Condensed-Oblique.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Medium Condensed */
@font-face {
    font-family: 'main-font-condensed';
    src: url('./font/font-Medium-Condensed.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'main-font-condensed';
    src: url('./font/font-Medium-Condensed-Oblique.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* Bold Condensed */
@font-face {
    font-family: 'main-font-condensed';
    src: url('./font/font-Bold-Condensed.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'main-font-condensed';
    src: url('./font/font-Bold-Condensed-Oblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* ExtraBold Condensed */
@font-face {
    font-family: 'main-font-condensed';
    src: url('./font/font-ExtraBold-Condensed.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'main-font-condensed';
    src: url('./font/font-ExtraBold-Condensed-Oblique.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}


:root {
    /* Font families - easy switching */
    --font-family: 'main-font', "segoe ui";
    --font-family-semi: 'main-font-semi', "segoe ui";
    --font-family-condensed: 'main-font-condensed', "segoe ui";
    
    /* Font weights for reference */
    --font-retina: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-extrabold: 800;
    
    /* Colors */
    --background-color: #151515;
    --background-color-input:#111111 ;
    --background-color-light: #222222;
    --background-color-decor: #d4b0bc3b; 

    /* --background-color: #000000;
    --background-color-input:#000000 ;
    --background-color-light: #000000;
    --background-color-decor: #b671883b; */

    --muted-text: #cbcbcb51;

    --green-text: #1DCD9F;
    --green-secondary-text: #169976;
    --green-glow-text: #16997672;

    --red-text: #DE3C4B;
    --red-secondary-text: #DB5461;
    --red-glow-text: #db546251;



    --main-text: #D4B0BC;
    --main-glow-text: #d4b0bc56;

    --main-secondary-text: #C695A5;
    --main-secondary-glow-text: #c695a56f;

    --main-muted-text: #cca3b1ad;
    --main-hover-text: #ecbdcc; 

    /* --main-text: #C1697F;
    --main-glow-text: #c1697fb4;

    --main-secondary-text: #D07489;
    --main-secondary-glow-text: #d0748ab7;

    --main-muted-text: #955764;
    --main-hover-text: #955764; */

    
    --white-text: #D2C1B9;
    --white-secondary-text: #928781;
    --white-tertiary-text: #9F8876;
    
}

